extends ../_skeleton

include ../components/_svg-icons
include ../components/_countdown
include ../components/_speaker
include ../components/_card
include ../components/_thumbnail
include ../components/_sponsor
include ../components/_news

block page
  include ../sections/_header-classic

  include ../sections/_section-swiper-slider-classic

  // Section Book Your Ticket
  +parallax({
    img:        'bg-parallax-01-1894x778.jpg',
    innerClass: 'section-lg context-dark text-center parallax-overlay-gradient-primary'
  }).section( id= 'evento')
    .container.wow.fadeIn
      // Block with content
      .block-lg.block-center
        h6 Falta poco
        h3 VEN Y SÚMATE
        p Este evento es organizado por las comunidades de AWS Girls Chile, AWS User Group Chile en colaboración con AWS Security Community
        +img('logos-comunidades')
        +countdown-rect( {to: '2023-07-01'} )

  // Section Biggest 2019 Digital Conference
  section.section.section-lg.bg-default.wow.fadeIn
    .container
      .row.row-30.justify-content-center
        .col-md-10.col-lg-6.col-xl-5
          h6 Sobre el evento
          h3.heading-lg-postfix-15 ¿QUÉ SIGNIFICA ESTE EVENTO?
          //- p.text-justify AWS COMMUNITY DAY SECURITY EDITION es un evento presencial que lleva el mensaje de seguridad en nube a los clientes de la región de latinoamérica

          p.text-justify 
            b AWS COMMUNITY DAY SECURITY EDITION
            |  es un evento presencial que lleva el 
            u mensaje de seguridad
            |  en nube a los clientes de la regi&oacute;n de latinoam&eacute;rica
          // List Inline
          ul.list-inline.list-inline-xl
            li
              .unit
                .unit-left: +svg-icon(`earth-globe`)(class='svg-icon-sm svg-icon-primary')
                .unit-body
                  h5 ¿Dónde?
                  p Duoc UC, San Joaquin
            li
              .unit
                .unit-left: +svg-icon(`small-calendar`)(class='svg-icon-sm svg-icon-primary' )
                .unit-body
                  h5 ¿Cúando?
                  p: time(datetime='2019-01-05') 1 Julio 2023
          a.button.button-primary(href='https://www.eventbrite.com/e/aws-security-community-day-chile-tickets-622605548957' data-triangle=".button-overlay" target='_blank')
            span REGISTRO FREE
            span.button-overlay
        .col-md-10.col-lg-6.col-xl-7.text-md-right
          // Image Box
          .images-box
            .images-box-item.images-box-item-right
              .wow.fadeScale
                +img('home-01-470x590')
            .images-box-item.images-box-item-left
              .wow.fadeScale
                +img('home-02-270x257')

  // Section Who Is Speaking
  +parallax({
    img:        'bg-parallax-02-1894x1950.jpg',
    innerClass: 'section-lg context-dark text-center'
  }).section( id= 'organizadores')
    .container
      h6.text-secondary Nuestro
      h3 Equipo organizador
      .row.row-30
        .col-md-6.col-lg-4
          div
            +speaker({
              img:      'gera_castro',
              title:    'Gerardo Castro',
              position: ' AWS Community Builder',
              linkedin: 'https://www.linkedin.com/in/gerardokaztro/'
            })      
        .col-md-6.col-lg-4
          div
            +speaker({
              img:      'jocelyn_poblete',
              title:    'Jocelyn Poblete',
              position: 'Cloud engineer',
              linkedin: 'https://www.linkedin.com/in/jocelynhs/'
            })
        .col-md-6.col-lg-4
          div
            +speaker({
              img:      'fernando_castillo',
              title:    'Fernando Castillo',
              position: 'Software Engineer',
              linkedin: 'https://www.linkedin.com/in/fecastillo/'
            })
        .col-md-6.col-lg-4
          div
            +speaker({
              img:      'odina_jacobs',
              title:    'Odina Jacobs',
              position: 'DevOps Engineer',
              linkedin: 'https://www.linkedin.com/in/odinajacobs/'
            })
        .col-md-6.col-lg-4
          div
            +speaker({
              img:      'ysabel_troconis',
              title:    'Ysabel Troconis',
              position: 'Cloud Support Engineer',
              linkedin: 'https://www.linkedin.com/in/ysabeltroconisit/'
            })
        .col-md-6.col-lg-4
          div
            +speaker({
              img:      'michelle_melean',
              title:    'Michelle Meleán',
              position: 'Telecommunications Engineer',
              linkedin: 'https://www.linkedin.com/in/michellejmm/'
            })
        .col-md-6.col-lg-4
          div
            +speaker({
              img:      'diana_alfaro',
              title:    'Diana Alfaro',
              position: 'AWS Community Builder',
              linkedin: 'https://www.linkedin.com/in/dianaalfarobazan/'
            })
      //- a.button.button-secondary.box-with-triangle-right.wow.fadeScale( href='speakers.html' data-triangle=".button-overlay" )
      //-   span View all speakers
      //-   span.button-overlay



  // Section Who Is Speaking
  +parallax({
    img:        'bg-parallax-02-1894x1950.jpg',
    innerClass: 'section-lg context-dark text-center'
  }).section( id= 'soporte')
    .container
      h6.text-secondary Nuestro
      h3 Equipo soporte
      .row.row-30
        .col-md-6.col-lg-4
          div
            +speaker({
              img:      'eli_fuentes',
              title:    'Elizabeth Fuentes',
              position: 'Developer Relations team at AWS',
              linkedin: 'https://www.linkedin.com/in/lizfue'
            })
        .col-md-6.col-lg-4
          div
            +speaker({
              img:      'nelly_andrade',
              title:    'Nelly Andrade',
              position: 'LATAM Sr Community Programs Manager  at AWS',
              linkedin: 'https://www.linkedin.com/in/patyandradediaz'
            })
        .col-md-6.col-lg-4
          div
            +speaker({
              img:      'maria_isabel_florez',
              title:    'Maria Isabel Florez',
              position: 'Solutions Architect at AWS',
              linkedin: 'https://www.linkedin.com/in/maisfloro/'
            })
        .col-md-6.col-lg-4
          div
            +speaker({
              img:      'dario_goldfarb',
              title:    'Dario Goldfarb',
              position: 'Principal Security Solutions - Architect at AWS',
              linkedin: 'https://www.linkedin.com/in/dariolucas/'
            })
        .col-md-6.col-lg-4
          div
            +speaker({
              img:      'arturo_martinez',
              title:    'Arturo Martínez',
              position: 'Senior Partner Trainer at AWS',
              linkedin: 'https://www.linkedin.com/in/arturomartinezv'
            })
        .col-md-6.col-lg-4
          div
            +speaker({
              img:      'jose_yapur',
              title:    'José Yapur',
              position: 'Sr. Developer Advocate at AWS',
              linkedin: 'https://www.linkedin.com/in/joseyapur/'
            })
      //- a.button.button-secondary.box-with-triangle-right.wow.fadeScale( href='speakers.html' data-triangle=".button-overlay" )
      //-   span View all speakers
      //-   span.button-overlay


  // Section Conference Schedule
  //- section.section.section-lg.bg-default.text-center
  //-   .container
  //-     h6 Event Schedule plan
  //-     h3 Conference Schedule.
  //-     #tabs-1.tabs-custom.tabs-horizontal.tabs-corporate
  //-       //Nav tabs
  //-       ul.nav.nav-tabs
  //-         li.nav-item( role='presentation' )
  //-           a.nav-link.nav-link.nav-link-secondary-darker( href='#tabs-1-1', data-toggle='tab' data-triangle=".nav-link-overlay" )
  //-             span.nav-link-overlay
  //-             span.nav-link-cite First Day
  //-             span.nav-link-title January 5, 2019
  //-         li.nav-item( role='presentation'  )
  //-           a.nav-link.nav-link-purple-heart( href='#tabs-1-2', data-toggle='tab' data-triangle=".nav-link-overlay" )
  //-             span.nav-link-overlay
  //-             span.nav-link-cite Second Day
  //-             span.nav-link-title January 6, 2019
  //-         li.nav-item( role='presentation' )
  //-           a.nav-link.nav-link-primary( href='#tabs-1-3', data-toggle='tab' data-triangle=".nav-link-overlay" )
  //-             span.nav-link-overlay
  //-             span.nav-link-cite Third Day
  //-             span.nav-link-title January 8, 2019
  //-         li.nav-item( role='presentation' )
  //-           a.nav-link.nav-link-secodanry( href='#tabs-1-4', data-toggle='tab' data-triangle=".nav-link-overlay" )
  //-             span.nav-link-overlay
  //-             span.nav-link-cite Fourth Day
  //-             span.nav-link-title January 9, 2019

  //-       //Tab panes
  //-       .tab-content.wow.fadeIn
  //-         #tabs-1-1.tab-pane.fade
  //-           #accordion1.card-group-custom.card-group-corporate(role='tablist', aria-multiselectable='false')
  //-             +card-schedule({
  //-               parentId: 'accordion1',
  //-               case: 1
  //-             }).card-corporate
  //-             +card-schedule({
  //-               parentId: 'accordion1',
  //-               case: 2
  //-             }).card-corporate
  //-             +card-schedule({
  //-               parentId: 'accordion1',
  //-               case: 3
  //-             }).card-corporate
  //-             // Schedule Simple
  //-             include ../components/card-content/schedule-item-4/_schedule-item-header
  //-             +schedule-classic-simple()
  //-             +card-schedule({
  //-               parentId: 'accordion1',
  //-               case: 5
  //-             }).card-corporate

  //-         #tabs-1-2.tab-pane.fade
  //-           #accordion2.card-group-custom.card-group-corporate(role='tablist', aria-multiselectable='false')
  //-             +card-schedule({
  //-               parentId: 'accordion2',
  //-               case: 3
  //-             }).card-corporate
  //-             +card-schedule({
  //-               parentId: 'accordion2',
  //-               case: 2
  //-             }).card-corporate
  //-             +card-schedule({
  //-               parentId: 'accordion2',
  //-               case: 1
  //-             }).card-corporate
  //-             // Schedule Simple
  //-             +schedule-classic-simple()
  //-             +card-schedule({
  //-               parentId: 'accordion2',
  //-               case: 5
  //-             }).card-corporate

  //-         #tabs-1-3.tab-pane.fade
  //-           #accordion3.card-group-custom.card-group-corporate(role='tablist', aria-multiselectable='false')
  //-             +card-schedule({
  //-               parentId: 'accordion3',
  //-               case: 2
  //-             }).card-corporate
  //-             +card-schedule({
  //-               parentId: 'accordion3',
  //-               case: 3
  //-             }).card-corporate
  //-             +card-schedule({
  //-               parentId: 'accordion3',
  //-               case: 1
  //-             }).card-corporate
  //-             // Schedule Simple
  //-             +schedule-classic-simple()
  //-             +card-schedule({
  //-               parentId: 'accordion3',
  //-               case: 5
  //-             }).card-corporate

  //-         #tabs-1-4.tab-pane.fade
  //-           #accordion4.card-group-custom.card-group-corporate(role='tablist', aria-multiselectable='false')
  //-             +card-schedule({
  //-               parentId: 'accordion4',
  //-               case: 1
  //-             }).card-corporate
  //-             +card-schedule({
  //-               parentId: 'accordion4',
  //-               case: 3
  //-             }).card-corporate
  //-             +card-schedule({
  //-               parentId: 'accordion4',
  //-               case: 2
  //-             }).card-corporate
  //-             // Schedule Simple
  //-             +schedule-classic-simple()
  //-             +card-schedule({
  //-               parentId: 'accordion4',
  //-               case: 5
  //-             }).card-corporate

  // Section Photo Gallery
  //- +parallax({
  //-   img:        'bg-parallax-03-1894x1662.jpg',
  //-   innerClass: 'section-lg context-dark text-center parallax-overlay-gradient-primary-1'
  //- }).section
  //-   .container.container-wide
  //-     h6 event album
  //-     h3 Photo Gallery.

       // Section Full Width Gallery
  section.section.section-lg.bg-yellow.text-center
    .container-fluid
      h3 Eventos pasados
      .row.row-narrow-xs.row-10( data-lightgallery="group" )
        .col-lg-6
          +thumbnail-big({
            img: 'gallery-06-942x473',
            original: 'gallery-06-original-1200x798'
          })
        .col-xs-6.col-lg-3
          +thumbnail-big({
            img: 'gallery-01-466x473',
            original: 'gallery-1'
          })
        .col-xs-6.col-lg-3
          +thumbnail-big({
            img: 'gallery-02-466x473',
            original: 'gallery-2'
          })
        .col-xs-6.col-lg-3
          +thumbnail-big({
            img: 'gallery-03-466x473',
            original: 'gallery-3'
          })
        .col-xs-6.col-lg-3
          +thumbnail-big({
            img: 'gallery-04-466x473',
            original: 'gallery-4'
          })
        .col-lg-6
          +thumbnail-big({
            img: 'gallery-05-942x473',
            original: 'gallery-5'
          })


      //- .row.row-ten.row-narrow.row-30.row-lg-50.justify-content-center( data-lightgallery="group" )
        .col-sm-4.col-md-3.col-lg-2
          .wow
            div
              +thumbnail({
                img:      'gallery-01-298x343',
                original: 'gallery-01-original-1200x800'
              })
        .col-sm-4.col-md-3.col-lg-2
          .wow
            div
              +thumbnail({
                img:      'gallery-02-298x343',
                original: 'gallery-02-original-1200x800'
              })
        .col-sm-4.col-md-3.col-lg-2
          .wow
            div
              +thumbnail({
                img:      'gallery-03-298x343',
                original: 'gallery-03-original-1200x800'
              })
        .col-sm-4.col-md-3.col-lg-2
          .wow
            div
              +thumbnail({
                img:      'gallery-04-298x343',
                original: 'gallery-04-original-1200x800'
              })
        .col-sm-4.col-md-3.col-lg-2
          .wow
            div
              +thumbnail({
                img:      'gallery-05-298x343',
                original: 'gallery-05-original-1200x800'
              })
        .col-xl-12
          p.font-weight-sbold.font-secondary
            span Don’t hesitate, contact us for better help and services.
            =" "
            a.link-inline( href='#' ) Book Ticket Now

  //- include ../sections/_section-testimonials

  // Section Official Sponsors
  +parallax({
    img:        'bg-parallax-04.jpg',
    innerClass: 'section-lg text-center'
  }).section( id= 'sponsors')
    .container
      h6 Nuestros
      h3 Sponsors
      .row.row-30.row-lg-50.justify-content-center
        .col-sm-12.col-lg-3
          .wow: div: +sponsor( 'sponsor-03', 'https://aws.amazon.com/' )
        .col-sm-12.col-lg-3
          .wow: div: +sponsor( 'sponsor-01', 'https://www.duoc.cl/' )
        .col-sm-12.col-lg-3
          .wow: div: +sponsor( 'sponsor-02', 'hhttps://www.cloudhesivelatam.com/' )
          //- .wow: div: +sponsor( 'sponsor-01-117x70' )
        //- .col-sm-5.col-lg-3
          //- .wow: div: +sponsor( 'sponsor-02-66x83' )
        //- .col-sm-5.col-lg-3
          //- .wow: div: +sponsor( 'sponsor-03-119x33' )
        //- .col-sm-5.col-lg-3
          //- .wow: div: +sponsor( 'sponsor-04-116x68' )
        //- .col-xl-12
        //-   p.font-weight-sbold.font-secondary
        //-     span.wow( data-splitting ) Don’t hesitate, contact us for better help and services.
        //-     =" "
        //-     a.link-inline.wow.fadeScale( href='#' ) View All Sponsors

  // Section Become a sponsor
  section.section.section-lg.bg-be-sponsor.text-center( id= 'BeSponsor')
    .container
      .block-lg.block-center
        h6 Be sponsor
        h2 ÚNETE Y PARTICIPA CON NOSOTROS
        a.button.button-lg.button-primary.button-offset-xl( href='images/brochure_contacto_jossy.pdf' target='_blank' data-triangle=".button-overlay" )
          span Become a sponsor
          span.button-overlay
  // News & Articles.
  //- include ../sections/_section-new-and-articles

  //- include ../sections/_section-with-video-link

  // Section Newsletter Sign Up
  //- section.section.section-lg.bg-default.text-center
  //-   .container
  //-     .row.justify-content-center.row-30
  //-       .col-md-10.col-lg-8
  //-         h6 newsletter signup
  //-         h3 Join for news updates.
  //-         form.rd-form.rd-mailform.rd-form-inline( data-form-output='form-output-global', data-form-type='subscribe', method='post', action='bat/rd-mailform.php' )
  //-           .form-wrap
  //-             input#subscribe-form-email.form-input( type='email', name='email', data-constraints='@Email @Required' )
  //-             label.form-label( for='subscribe-form-email' ) Email Address
  //-           .form-button
  //-             button.button.button-primary( type='submit' data-triangle=".button-overlay" )
  //-               span Subscribe now
  //-               span.button-overlay

  include ../sections/_footer-classic
